tabulate
# Testing Dependencies
pytest
coverage
pytest-cov
pytest-bdd

# Linting dependencies
flake8

# Documentation Dependencies
myst-parser
sphinx
sphinxcontrib-apidoc

# pipy publishing
twine
setuptools
wheel

